server:
  port: 4005

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service-route
          uri: http://auth-service:4006
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: user-service-route
          uri: http://auth-service:4006
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=1
            - JwtValidation

        - id: patient-service-route
          uri: http://patient-service:4000
          predicates:
            - Path=/api/patients/**
          filters:
            - StripPrefix=1
            - JwtValidation


        # OpenAPI JSON
        - id: patient-service-api-docs
          uri: http://patient-service:4000
          predicates:
            - Path=/api-docs/patients
          filters:
            - RewritePath=/api-docs/patients,/v3/api-docs

        - id: auth-service-api-docs
          uri: http://auth-service:4006
          predicates:
            - Path=/api-docs/auth
          filters:
            - RewritePath=/api-docs/auth,/v3/api-docs